ENV=development

# Kafka - separate host vs docker endpoints
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_BOOTSTRAP_SERVERS_DOCKER=kafka:9092

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ENDPOINT_DOCKER=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
DATA_LAKE_BUCKET=sentinel-data

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sentinel_dw
POSTGRES_USER=sentinel
POSTGRES_PASSWORD=sentinelpass

# Spark
SPARK_MASTER=local[*]
SPARK_APP_NAME=SentinelAI-Spark
