__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.env
.env.local
storage/datalake/bronze/*
storage/datalake/silver/*
storage/datalake/gold/*
storage/datalake/quarantine/*
!storage/datalake/bronze/.gitkeep
!storage/datalake/silver/.gitkeep
!storage/datalake/gold/.gitkeep
!storage/datalake/quarantine/.gitkeep
.idea/
.vscode/
